<a href="https://colab.research.google.com/github/Soundk05/python_proj/blob/main/project111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("/content/natality-1.4L.csv")

<ipython-input-3-40c84707e9d0>:1: DtypeWarning: Columns (5,12,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/natality-1.4L.csv")

In [4]:
df.head(5)

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,...,NaN,NaN,99.0,5.0,2.0,1.0,8.0,38.0,24,1
1,2005,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,...,False,NaN,8.0,9.0,0.0,0.0,10.0,1.0,31,1
2,2005,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,31,1
3,2005,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,99,1
4,2005,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,33,1

In [5]:
df1=df

In [6]:
df1.head(10)

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,...,NaN,NaN,99.0,5.0,2.0,1.0,8.0,38.0,24,1
1,2005,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,...,False,NaN,8.0,9.0,0.0,0.0,10.0,1.0,31,1
2,2005,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,31,1
3,2005,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,99,1
4,2005,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,33,1
5,2005,2005,5,NaN,4.0,NaN,False,NaN,6.124442,1.0,...,NaN,NaN,99.0,0.0,0.0,0.0,1.0,7.0,33,1
6,2005,2005,10,NaN,6.0,NaN,True,NaN,6.876218,1.0,...,NaN,NaN,25.0,0.0,0.0,1.0,1.0,NaN,50,1
7,2005,2005,10,NaN,2.0,NaN,True,NaN,6.757168,1.0,...,NaN,NaN,25.0,0.0,0.0,0.0,1.0,NaN,24,1
8,2005,2005,10,NaN,2.0,NaN,False,NaN,8.688418,1.0,...,NaN,NaN,47.0,0.0,0.0,0.0,1.0,NaN,30,1
9,2005,2005,9,NaN,6.0,NaN,False,NaN,6.999677,1.0,...,NaN,NaN,42.0,0.0,0.0,0.0,1.0,NaN,30,1

In [56]:
df1.groupby("state").count()

,source_year,year,month,day,wday,is_male,child_race,weight_pounds,plurality,apgar_1min,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
state,,,,,,,,,,,,,,,,,,,,,
AK,2367,2367,2367,1121,1246,2367,2223,2359,2318,1965,...,1243,80,1236,2339,2327,2319,2318,2367,2367,2367
AL,14258,14258,14258,7262,6996,14258,13438,14240,13790,11003,...,6975,160,6885,14249,14250,14249,14247,14258,14258,14258
AR,271,271,271,271,0,271,271,270,6,0,...,0,0,0,270,271,271,270,271,271,271

In [10]:
df1.source_year.nunique()

40

In [11]:
df1.source_year.unique()

array([2005, 2006, 2007, 2008, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004])

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140000 entries, 0 to 139999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   source_year             140000 non-null  int64
 1   year                    140000 non-null  int64
 2   month                   140000 non-null  int64
 3   day                     8654 non-null    float64
 4   wday                    131346 non-null  float64
 5   state                   16896 non-null   object
 6   is_male                 140000 non-null  bool
 7   child_race              15932 non-null   float64
 8   weight_pounds           139862 non-null  float64
 9   plurality               139218 non-null  float64
 10  apgar_1min              12968 non-null   float64
 11  apgar_5min              128067 non-null  float64
 12  mother_residence_state  16896 non-null   object
 13  mother_race             75675 non-null   float64
 14  mother_age              140000 non-null  int64
 15  gestation_weeks         137699 non-null  float64
 16  lmp                     140000 non-null  object
 17  mother_married          139988 non-null  object
 18  mother_birth_state      16253 non-null   object
 19  cigarette_use           58424 non-null   object
 20  cigarettes_per_day      5768 non-null    float64
 21  alcohol_use             65679 non-null   object
 22  drinks_per_week         3597 non-null    float64
 23  weight_gain_pounds      128822 non-null  float64
 24  born_alive_alive        46410 non-null   float64
 25  born_alive_dead         46377 non-null   float64
 26  born_dead               46348 non-null   float64
 27  ever_born               139277 non-null  float64
 28  father_race             75675 non-null   float64
 29  father_age              140000 non-null  int64
 30  record_weight           140000 non-null  int64
dtypes: bool(1), float64(17), int64(6), object(7)
memory usage: 32.2+ MB

In [13]:
df.isnull().sum()

source_year                    0
year                           0
month                          0
day                       131346
wday                        8654
state                     123104
is_male                        0
child_race                124068
weight_pounds                138
plurality                    782
apgar_1min                127032
apgar_5min                 11933
mother_residence_state    123104
mother_race                64325
mother_age                     0
gestation_weeks             2301
lmp                            0
mother_married                12
mother_birth_state        123747
cigarette_use              81576
cigarettes_per_day        134232
alcohol_use                74321
drinks_per_week           136403
weight_gain_pounds         11178
born_alive_alive           93590
born_alive_dead            93623
born_dead                  93652
ever_born                    723
father_race                64325
father_age                     0
record_weight                  0
dtype: int64

In [14]:
df1.describe()

,source_year,year,month,day,wday,child_race,weight_pounds,plurality,apgar_1min,apgar_5min,...,cigarettes_per_day,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
count,140000.000000,140000.000000,140000.000000,8654.000000,131346.000000,15932.000000,139862.000000,139218.000000,12968.000000,128067.000000,...,5768.000000,3597.000000,128822.000000,46410.000000,46377.000000,46348.000000,139277.000000,75675.000000,140000.000000,140000.000000
mean,2004.259136,2004.259136,6.551007,15.753062,4.059926,3.647125,7.210949,1.034248,37.750463,8.942116,...,15.087205,3.274951,39.383785,1.054471,0.060073,0.360663,2.081399,15.978077,40.709250,1.014436
std,7.060152,7.060152,3.422586,8.770039,1.830445,3.509630,1.321106,0.190698,42.633430,2.813285,...,23.312643,17.424963,25.401934,1.521494,1.633688,1.779838,1.255689,33.844786,25.403633,0.119279
min,1969.000000,1969.000000,1.000000,1.000000,1.000000,1.000000,0.500449,1.000000,1.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,11.000000,1.000000
25%,2005.000000,2005.000000,4.000000,8.000000,3.000000,1.000000,6.560957,1.000000,8.000000,9.000000,...,5.000000,0.000000,23.000000,0.000000,0.000000,0.000000,1.000000,1.000000,26.000000,1.000000
50%,2006.000000,2006.000000,7.000000,16.000000,4.000000,2.000000,7.312733,1.000000,9.000000,9.000000,...,10.000000,0.000000,32.000000,1.000000,0.000000,0.000000,2.000000,1.000000,31.000000,1.000000
75%,2007.000000,2007.000000,9.000000,23.000000,6.000000,9.000000,8.024826,1.000000,99.000000,9.000000,...,10.250000,0.000000,45.000000,2.000000,0.000000,0.000000,3.000000,2.000000,39.000000,1.000000
max,2008.000000,2008.000000,12.000000,31.000000,7.000000,9.000000,16.459712,5.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,77.000000,77.000000,77.000000,15.000000,99.000000,99.000000,2.000000

In [15]:
df1.child_race.unique()

array([nan,  1.,  3.,  2.,  7.,  6.,  9.,  4.,  5.])

In [19]:
df1[df1[['child_race']].notnull().all(1)].tail(100)

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
139900,1970,1970,8,31.0,NaN,AR,True,2.0,5.813590,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,9.0,99,2
139901,1970,1970,5,12.0,NaN,AR,False,1.0,7.187070,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,22,2
139902,1970,1970,9,23.0,NaN,AR,False,2.0,6.124442,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,2.0,19,2
139903,1970,1970,6,5.0,NaN,AR,True,1.0,8.999270,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,19,2
139904,1970,1970,1,20.0,NaN,AR,False,1.0,7.312733,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,2.0,1.0,26,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,1971,1971,11,10.0,NaN,AR,False,1.0,6.375769,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,21,2
139996,1971,1971,12,20.0,NaN,AR,False,1.0,7.251004,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,22,2
139997,1971,1971,6,14.0,NaN,AR,False,1.0,6.624891,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,26,2
139998,1971,1971,5,18.0,NaN,AR,True,1.0,6.437498,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,20,2
139999,1971,1971,4,17.0,NaN,AR,True,1.0,6.937947,1.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,29,2

In [20]:
df1[['wday', 'child_race']]

        wday  child_race
0        3.0         NaN
1        7.0         NaN
2        4.0         NaN
3        4.0         NaN
4        6.0         NaN
...      ...         ...
139995   NaN         1.0
139996   NaN         1.0
139997   NaN         1.0
139998   NaN         1.0
139999   NaN         1.0

[140000 rows x 2 columns]

In [21]:
df1.head(5)

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,...,NaN,NaN,99.0,5.0,2.0,1.0,8.0,38.0,24,1
1,2005,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,...,False,NaN,8.0,9.0,0.0,0.0,10.0,1.0,31,1
2,2005,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,31,1
3,2005,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,99,1
4,2005,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,33,1

In [23]:
df1[df1.columns[7:15]]

,child_race,weight_pounds,plurality,apgar_1min,apgar_5min,mother_residence_state,mother_race,mother_age
0,NaN,7.804364,1.0,NaN,NaN,NaN,38.0,30
1,NaN,5.374870,2.0,NaN,8.0,NaN,1.0,29
2,NaN,6.437498,1.0,NaN,7.0,NaN,NaN,24
3,NaN,6.560957,1.0,NaN,9.0,NaN,NaN,26
4,NaN,8.811877,1.0,NaN,9.0,NaN,NaN,22
...,...,...,...,...,...,...,...,...
139995,1.0,6.375769,1.0,NaN,NaN,AR,1.0,19
139996,1.0,7.251004,1.0,NaN,NaN,AR,1.0,19
139997,1.0,6.624891,1.0,NaN,NaN,AR,1.0,20
139998,1.0,6.437498,1.0,NaN,NaN,AR,1.0,18
139999,1.0,6.937947,1.0,NaN,NaN,AR,1.0,19

In [32]:
cnt=np.where(df1['weight_pounds']<=5)
cnt

(array([    30,     59,     80, ..., 139915, 139916, 139974]),)

In [33]:
#find the length of cnt
len(cnt[0])

6824

In [34]:
df1["mother_residence_state"].unique()

array([nan, 'AK', 'CA', 'FL', 'OH', 'NV', 'TX', 'AL', 'MS', 'AR', 'TN',
       'KS', 'GA', 'SC', 'MI', 'SD', 'MN', 'LA', 'ME', 'NC', 'IN', 'HI',
       'OK', 'MO'], dtype=object)

In [41]:
df1.groupby("mother_age").count()

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
mother_age,,,,,,,,,,,,,,,,,,,,,
12,7,7,7,2,5,3,7,3,7,7,...,3,0,5,4,4,4,6,5,7,7
13,46,46,46,5,41,9,46,9,46,45,...,25,0,39,18,18,18,46,33,46,46
14,240,240,240,50,190,76,240,72,240,236,...,99,3,187,125,125,125,240,152,240,240
15,704,704,704,110,594,170,704,164,702,698,...,288,10,585,291,291,291,703,401,704,704
16,1593,1593,1593,198,1395,348,1593,334,1590,1576,...,702,31,1367,635,635,635,1587,920,1593,1593
17,2822,2822,2822,344,2478,598,2822,576,2815,2785,...,1256,82,2436,1133,1133,1131,2814,1652,2822,2822
18,4373,4373,4373,466,3907,841,4373,802,4368,4322,...,1965,148,3840,1687,1686,1687,4359,2500,4373,4373
19,5895,5895,5895,527,5368,986,5895,946,5890,5830,...,2670,229,5274,2171,2171,2169,5866,3239,5895,5895
20,6738,6738,6738,625,6113,1128,6738,1076,6737,6681,...,3079,256,5999,2440,2440,2437,6703,3758,6738,6738
21,7041,7041,7041,631,6410,1130,7041,1077,7039,6969,...,3255,274,6287,2520,2517,2516,7002,3959,7041,7041
22,7309,7309,7309,634,6675,1119,7309,1057,7301,7254,...,3372,258,6535,2631,2631,2629,7266,4070,7309,7309
23,7566,7566,7566,580,6986,1054,7566,988,7562,7509,...,3528,307,6831,2672,2671,2671,7539,4174,7566,7566
24,7756,7756,7756,612,7144,1055,7756,999,7747,7701,...,3587,277,6995,2677,2676,2675,7718,4273,7756,7756
25,7707,7707,7707,544,7163,1027,7707,969,7696,7657,...,3633,254,7014,2589,2588,2587,7664,4176,7707,7707
26,8013,8013,8013,526,7487,1012,8013,954,8004,7965,...,3796,226,7330,2587,2584,2583,7973,4342,8013,8013
27,7856,7856,7856,468,7388,949,7856,897,7848,7822,...,3741,186,7245,2517,2514,2508,7823,4246,7856,7856
28,7779,7779,7779,424,7355,881,7779,830,7773,7749,...,3760,157,7195,2453,2451,2451,7742,4220,7779,7779
29,7485,7485,7485,386,7099,792,7485,756,7474,7456,...,3468,130,6973,2400,2399,2397,7444,3923,7485,7485
30,7262,7262,7262,296,6966,680,7262,639,7253,7243,...,3507,131,6833,2276,2274,2276,7229,3862,7262,7262
31,6611,6611,6611,270,6341,603,6611,561,6606,6593,...,3150,110,6214,2060,2058,2055,6580,3504,6611,6611
32,6030,6030,6030,219,5811,513,6030,473,6025,6012,...,2896,68,5710,1857,1854,1854,6000,3181,6030,6030
33,5528,5528,5528,179,5349,421,5528,390,5525,5515,...,2649,84,5259,1668,1666,1668,5494,2885,5528,5528
34,4938,4938,4938,144,4794,352,4938,326,4935,4926,...,2373,70,4693,1591,1588,1589,4903,2577,4938,4938
35,4327,4327,4327,102,4225,297,4327,271,4320,4322,...,2123,64,4162,1273,1272,1272,4305,2288,4327,4327
36,3774,3774,3774,83,3691,220,3774,197,3771,3768,...,1794,63,3625,1099,1098,1092,3744,1921,3774,3774
37,3008,3008,3008,76,2932,194,3008,178,3001,3000,...,1440,58,2885,892,892,891,2985,1569,3008,3008
38,2323,2323,2323,51,2272,147,2323,133,2321,2320,...,1109,48,2226,663,663,661,2307,1195,2323,2323
39,1715,1715,1715,28,1687,87,1715,77,1713,1713,...,796,18,1662,489,489,489,1705,858,1715,1715
40,1363,1363,1363,33,1330,95,1363,78,1363,1360,...,599,22,1302,403,401,400,1353,668,1363,1363
41,855,855,855,19,836,46,855,41,855,850,...,381,17,822,233,233,232,850,427,855,855
42,586,586,586,9,577,24,586,23,585,585,...,280,6,564,151,151,151,585,303,586,586
43,373,373,373,6,367,17,373,15,373,373,...,176,5,362,105,104,104,366,197,373,373
44,177,177,177,1,176,5,177,4,177,177,...,81,3,175,42,42,42,177,86,177,177
45,90,90,90,4,86,9,90,9,90,89,...,40,1,86,34,34,34,89,49,90,90
46,50,50,50,2,48,5,50,5,50,50,...,27,0,47,10,10,10,50,31,50,50
47,32,32,32,0,32,3,32,3,32,32,...,19,1,31,8,8,8,32,18,32,32
48,6,6,6,0,6,0,6,0,6,6,...,2,0,6,0,0,0,6,2,6,6
49,8,8,8,0,8,0,8,0,8,8,...,2,0,8,1,1,1,8,2,8,8
50,14,14,14,0,14,0,14,0,14,14,...,8,0,13,5,5,5,14,9,14,14

In [43]:
a=df1["mother_age"].unique()

In [44]:
tuple(sorted(a))

(12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50)

In [45]:
df1["mother_race"].sort_values()

66819     1.0
84377     1.0
84380     1.0
84381     1.0
84385     1.0
         ...
123098    NaN
123099    NaN
123101    NaN
123102    NaN
123103    NaN
Name: mother_race, Length: 140000, dtype: float64

In [47]:
df1["mother_race"].nunique()

15

In [48]:
df1["mother_race"].unique()

array([38.,  1., nan,  7.,  4., 78., 48., 18.,  2., 28.,  3., 68.,  5.,
        6., 58.,  9.])

In [51]:
df1["father_race"].unique()

array([38.,  1., nan,  7.,  4., 78., 68., 18., 48., 99., 28.,  2.,  5.,
        6.,  3., 58.,  9.])

In [52]:
df1["child_race"].unique()

array([nan,  1.,  3.,  2.,  7.,  6.,  9.,  4.,  5.])

In [54]:
a=df["year"]!=df["source_year"]
a.unique()

array([False])

In [58]:
df1["record_weight"].unique() # changed 'uniuqe' to 'unique'

array([1, 2])

In [59]:
df1.drop_duplicates()

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,...,NaN,NaN,99.0,5.0,2.0,1.0,8.0,38.0,24,1
1,2005,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,...,False,NaN,8.0,9.0,0.0,0.0,10.0,1.0,31,1
2,2005,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,31,1
3,2005,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,99,1
4,2005,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,1971,1971,11,10.0,NaN,AR,False,1.0,6.375769,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,21,2
139996,1971,1971,12,20.0,NaN,AR,False,1.0,7.251004,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,22,2
139997,1971,1971,6,14.0,NaN,AR,False,1.0,6.624891,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,26,2
139998,1971,1971,5,18.0,NaN,AR,True,1.0,6.437498,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,20,2
139999,1971,1971,4,17.0,NaN,AR,True,1.0,6.937947,1.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,29,2

In [62]:
df1=df1.drop(['source_year','mother_residence_state',"mother_married","mother_birth_state","father_race"], axis=1)

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140000 entries, 0 to 139999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   source_year             140000 non-null  int64
 1   year                    140000 non-null  int64
 2   month                   140000 non-null  int64
 3   day                     8654 non-null    float64
 4   wday                    131346 non-null  float64
 5   state                   16896 non-null   object
 6   is_male                 140000 non-null  bool
 7   child_race              15932 non-null   float64
 8   weight_pounds           139862 non-null  float64
 9   plurality               139218 non-null  float64
 10  apgar_1min              12968 non-null   float64
 11  apgar_5min              128067 non-null  float64
 12  mother_residence_state  16896 non-null   object
 13  mother_race             75675 non-null   float64
 14  mother_age              140000 non-null  int64
 15  gestation_weeks         137699 non-null  float64
 16  lmp                     140000 non-null  object
 17  mother_married          139988 non-null  object
 18  mother_birth_state      16253 non-null   object
 19  cigarette_use           58424 non-null   object
 20  cigarettes_per_day      5768 non-null    float64
 21  alcohol_use             65679 non-null   object
 22  drinks_per_week         3597 non-null    float64
 23  weight_gain_pounds      128822 non-null  float64
 24  born_alive_alive        46410 non-null   float64
 25  born_alive_dead         46377 non-null   float64
 26  born_dead               46348 non-null   float64
 27  ever_born               139277 non-null  float64
 28  father_race             75675 non-null   float64
 29  father_age              140000 non-null  int64
 30  record_weight           140000 non-null  int64
dtypes: bool(1), float64(17), int64(6), object(7)
memory usage: 32.2+ MB

In [63]:
df1

,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,apgar_1min,...,cigarettes_per_day,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_age,record_weight
0,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,NaN,...,NaN,NaN,NaN,99.0,5.0,2.0,1.0,8.0,24,1
1,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,NaN,...,NaN,False,NaN,8.0,9.0,0.0,0.0,10.0,31,1
2,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,NaN,...,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN,31,1
3,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,NaN,...,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,99,1
4,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,NaN,...,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN,33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,1971,11,10.0,NaN,AR,False,1.0,6.375769,1.0,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,21,2
139996,1971,12,20.0,NaN,AR,False,1.0,7.251004,1.0,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,22,2
139997,1971,6,14.0,NaN,AR,False,1.0,6.624891,1.0,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,26,2
139998,1971,5,18.0,NaN,AR,True,1.0,6.437498,1.0,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,20,2
139999,1971,4,17.0,NaN,AR,True,1.0,6.937947,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,29,2

In [64]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140000 entries, 0 to 139999
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   year                140000 non-null  int64
 1   month               140000 non-null  int64
 2   day                 8654 non-null    float64
 3   wday                131346 non-null  float64
 4   state               16896 non-null   object
 5   is_male             140000 non-null  bool
 6   child_race          15932 non-null   float64
 7   weight_pounds       139862 non-null  float64
 8   plurality           139218 non-null  float64
 9   apgar_1min          12968 non-null   float64
 10  apgar_5min          128067 non-null  float64
 11  mother_race         75675 non-null   float64
 12  mother_age          140000 non-null  int64
 13  gestation_weeks     137699 non-null  float64
 14  lmp                 140000 non-null  object
 15  cigarette_use       58424 non-null   object
 16  cigarettes_per_day  5768 non-null    float64
 17  alcohol_use         65679 non-null   object
 18  drinks_per_week     3597 non-null    float64
 19  weight_gain_pounds  128822 non-null  float64
 20  born_alive_alive    46410 non-null   float64
 21  born_alive_dead     46377 non-null   float64
 22  born_dead           46348 non-null   float64
 23  ever_born           139277 non-null  float64
 24  father_age          140000 non-null  int64
 25  record_weight       140000 non-null  int64
dtypes: bool(1), float64(16), int64(5), object(4)
memory usage: 26.8+ MB

In [65]:
df1['lmp'] = pd.to_datetime(df1['lmp'])

DateParseError: month must be in 1..12: 11142007, at position 1667

In [67]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=28117b52f81c6059307bfaaa0e683072ad37a8caac8f9aa5f3c1afcad082272d
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [68]:
from pyspark.sql  import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [69]:
spark=SparkSession.builder.appName("Basics").getOrCreate()

In [73]:
df=spark.read.csv("/content/natality-1.4L.csv",header=True,inferSchema=True)

In [74]:
df.show()

+-----------+----+-----+----+----+-----+-------+----------+------------------+---------+----------+----------+----------------------+-----------+----------+---------------+--------+--------------+------------------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+-----------+----------+-------------+
|source_year|year|month| day|wday|state|is_male|child_race|     weight_pounds|plurality|apgar_1min|apgar_5min|mother_residence_state|mother_race|mother_age|gestation_weeks|     lmp|mother_married|mother_birth_state|cigarette_use|cigarettes_per_day|alcohol_use|drinks_per_week|weight_gain_pounds|born_alive_alive|born_alive_dead|born_dead|ever_born|father_race|father_age|record_weight|
+-----------+----+-----+----+----+-----+-------+----------+------------------+---------+----------+----------+----------------------+-----------+----------+---------------+--------+--------------+------------------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+-----------+----------+-------------+
|       2005|2005|    1|NULL|   3| NULL|   true|      NULL|      7.8043640748|        1|      NULL|      NULL|                  NULL|         38|        30|             40|04172004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                99|               5|              2|        1|        8|         38|        24|            1|
|       2005|2005|    2|NULL|   7| NULL|  false|      NULL|     5.37486994756|        2|      NULL|         8|                  NULL|          1|        29|             38|05992004|          true|              NULL|        false|              NULL|      false|           NULL|                 8|               9|              0|        0|       10|          1|        31|            1|
|       2005|2005|    5|NULL|   4| NULL|  false|      NULL|6.4374980503999994|        1|      NULL|         7|                  NULL|       NULL|        24|             39|99999999|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                99|            NULL|           NULL|     NULL|     NULL|       NULL|        31|            1|
|       2005|2005|    8|NULL|   4| NULL|  false|      NULL|6.5609569171199995|        1|      NULL|         9|                  NULL|       NULL|        26|           NULL|99999999|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                25|            NULL|           NULL|     NULL|     NULL|       NULL|        99|            1|
|       2005|2005|    5|NULL|   6| NULL|   true|      NULL| 8.811876612139999|        1|      NULL|         9|                  NULL|       NULL|        22|             40|99999999|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                99|            NULL|           NULL|     NULL|     NULL|       NULL|        33|            1|
|       2005|2005|    5|NULL|   4| NULL|  false|      NULL|6.1244416383599996|        1|      NULL|      NULL|                  NULL|          7|        28|             39|08112004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                99|               0|              0|        0|        1|          7|        33|            1|
|       2005|2005|   10|NULL|   6| NULL|   true|      NULL|     6.87621795178|        1|      NULL|         9|                  NULL|       NULL|        30|             40|01112005|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                25|               0|              0|        1|        1|       NULL|        50|            1|
|       2005|2005|   10|NULL|   2| NULL|   true|      NULL|      6.7571683303|        1|      NULL|         9|                  NULL|       NULL|        19|             38|01102005|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                25|               0|              0|        0|        1|       NULL|        24|            1|
|       2005|2005|   10|NULL|   2| NULL|  false|      NULL|     8.68841774542|        1|      NULL|         9|                  NULL|       NULL|        27|             39|01192005|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                47|               0|              0|        0|        1|       NULL|        30|            1|
|       2005|2005|    9|NULL|   6| NULL|  false|      NULL|      6.9996768185|        1|      NULL|         9|                  NULL|       NULL|        20|             40|12142004|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                42|               0|              0|        0|        1|       NULL|        30|            1|
|       2005|2005|    9|NULL|   5| NULL|  false|      NULL| 8.062304921339999|        1|      NULL|         9|                  NULL|       NULL|        35|             40|12032004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                12|               0|              0|        0|        1|       NULL|        41|            1|
|       2005|2005|    2|NULL|   5| NULL|   true|      NULL|5.1764539117599995|        1|      NULL|         8|                  NULL|       NULL|        24|             36|99999999|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                 9|               0|              0|        0|        1|       NULL|        24|            1|
|       2005|2005|    2|NULL|   5| NULL|  false|      NULL|     7.62578964258|        1|      NULL|        10|                  NULL|       NULL|        19|             40|05132004|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                15|               0|              0|        0|        1|       NULL|        99|            1|
|       2005|2005|    5|NULL|   3| NULL|  false|      NULL|      7.5508324735|        1|      NULL|         9|                  NULL|       NULL|        32|             40|08072004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                30|               0|              0|        0|        1|       NULL|        42|            1|
|       2005|2005|    1|NULL|   2| NULL|  false|      NULL|      5.8863423954|        1|      NULL|         9|                  NULL|       NULL|        30|             37|05062004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                31|               0|              0|        1|        1|       NULL|        35|            1|
|       2005|2005|    6|NULL|   3| NULL|   true|      NULL|     6.67780191598|        1|      NULL|         9|                  NULL|       NULL|        21|             37|09302004|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                99|               0|              0|        1|        1|       NULL|        24|            1|
|       2005|2005|   11|NULL|   1| NULL|   true|      NULL|       6.503636729|        1|      NULL|         6|                  NULL|       NULL|        21|             34|03202005|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                50|               0|              0|        2|        1|       NULL|        18|            1|
|       2005|2005|   11|NULL|   6| NULL|   true|      NULL|     5.00008410216|        1|      NULL|         9|                  NULL|       NULL|        18|             37|02172005|          true|              NULL|         NULL|              NULL|       NULL|           NULL|                63|               0|              0|        1|        1|       NULL|        24|            1|
|       2005|2005|    4|NULL|   5| NULL|   true|      NULL|      6.8122838958|        1|      NULL|         8|                  NULL|       NULL|        21|             42|06152004|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                58|               0|              0|        0|        1|       NULL|        99|            1|
|       2005|2005|    5|NULL|   3| NULL|   true|      NULL|6.4992274837599995|        1|      NULL|        10|                  NULL|       NULL|        16|             39|08062004|         false|              NULL|         NULL|              NULL|       NULL|           NULL|                31|               0|              0|        0|        1|       NULL|        99|            1|
+-----------+----+-----+----+----+-----+-------+----------+------------------+---------+----------+----------+----------------------+-----------+----------+---------------+--------+--------------+------------------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+-----------+----------+-------------+
only showing top 20 rows

In [75]:
df1=df

In [86]:
df1=df1.withColumn("lmp",to_date(col("lmp"),"MMddyyyy"))

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [82]:
df1.where(df1.lmp.isNull()).count()

AttributeError: 'NoneType' object has no attribute 'where'

In [85]:
df1.filter(df1.lmp=="NULL").count().show()

AttributeError: 'NoneType' object has no attribute 'filter'