In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=f0598f76b65e2d6a8747f7fa6e2f6334e11b2635be6abe298fda9f5b65805919
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
%%writefile movies.csv
movieId,artistId,role
71,22,lead
42,44,coact
83,22,lead
94,44,coact
59,66,lead
65,22,coact
27,66,coact
58,44,lead
79,66,coact
90,22,lead
64,44,multistarrer
74,88,multistarrer
89,88,multistarrer

Writing movies.csv

In [4]:
%%writefile artist.csv
artistId,artistName,age,genre
22,jack,30,action
44,john,38,comedy
66,jill,18,drama
88,hill,44,extra

Writing artist.csv

In [5]:
lti_spark=SparkSession.builder.appName("lti_sound").getOrCreate()

In [6]:
df= lti_spark.read.csv("movies.csv",header=True)

In [37]:
df1=lti_spark.read.csv("artist.csv",header=True)

In [ ]:
filter movies by role
count roles per artist >> output artistId, rolecount
display most popular roles (all roles actually) >> output as a list
find top artist with maximum lead role
display artist name below age 30 >> output as string

In [14]:
df.filter(df["role"]=="lead").show()

+-------+--------+----+
|movieId|artistId|role|
+-------+--------+----+
|     71|      22|lead|
|     83|      22|lead|
|     59|      66|lead|
|     58|      44|lead|
|     90|      22|lead|
+-------+--------+----+

In [18]:
df.groupby("artistId").count().show()

+--------+-----+
|artistId|count|
+--------+-----+
|      22|    4|
|      44|    4|
|      88|    2|
|      66|    3|
+--------+-----+

In [30]:
#display most popular roles (all roles actually) >> output as a list
a=df.groupby("role").count()
#a.rdd.flatMap(lambda x:[x[0]]).collect()
a.rdd.flatMap(lambda x:[x[0]]).collect()

['coact', 'lead', 'multistarrer']

In [33]:
#find top artist with maximum lead role
df.filter(df["role"]=="lead").groupby("artistId").count().limit(1).show()

+--------+-----+
|artistId|count|
+--------+-----+
|      22|    3|
+--------+-----+

In [43]:
#display artist name below age 30 >> output as string
df1.filter(df1["age"]<30).collect()[0][1]

'jill'

In [38]:
df1.show()

+--------+----------+---+------+
|artistId|artistName|age| genre|
+--------+----------+---+------+
|      22|      jack| 30|action|
|      44|      john| 38|comedy|
|      66|      jill| 18| drama|
|      88|      hill| 44| extra|
+--------+----------+---+------+