#SparkSQL

Working with PySpark's built-in SQL compliant functionality to investigate flights-delay data at scale


*   Understand the limitations of SparkSQL
*   Experiment with createOrReplaceGlobalView
*   Work on same executions through pyspark methods

In [ ]:
#Download Data from source
Data Source Repo - https://kloudbitbucket.s3.amazonaws.com/krunal_ds/departuredelays.csv

In [2]:
#Import necessary spark components
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=04c35e145522c6c01fb4bd3eb72fa64a16c8fc0632c50affcba201bdb344467a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession

In [5]:
#Create a SparkSession
lti_spark = SparkSession.builder.appName("sound").getOrCreate()
lti_spark

In [8]:
#Import Data into Spark Native Dataframe
df = lti_spark.read.csv("departuredelays.csv",header=True,inferSchema=True)
# df = lti_spark.read.option('Header','True').csv('path')
df.show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011245|    6|     602|   ABE|        ATL|
|1020600|   -8|     369|   ABE|        DTW|
|1021245|   -2|     602|   ABE|        ATL|
|1020605|   -4|     602|   ABE|        ATL|
|1031245|   -4|     602|   ABE|        ATL|
|1030605|    0|     602|   ABE|        ATL|
|1041243|   10|     602|   ABE|        ATL|
|1040605|   28|     602|   ABE|        ATL|
|1051245|   88|     602|   ABE|        ATL|
|1050605|    9|     602|   ABE|        ATL|
|1061215|   -6|     602|   ABE|        ATL|
|1061725|   69|     602|   ABE|        ATL|
|1061230|    0|     369|   ABE|        DTW|
|1060625|   -3|     602|   ABE|        ATL|
|1070600|    0|     369|   ABE|        DTW|
|1071725|    0|     602|   ABE|        ATL|
|1071230|    0|     369|   ABE|        DTW|
|1070625|    0|     602|   ABE|        ATL|
|1071219|    0|     569|   ABE|        ORD|
|1080600|    0|     369|   ABE|        DTW|
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [13]:
#Convert into an SQL complaint format
new = df
new.createOrReplaceTempView("flys")

DataFrame[date: int, delay: int, distance: int, origin: string, destination: string]

In [17]:
#Display 100 rows of data with SQL query
lti_spark.sql("select * from flys limit 5").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011245|    6|     602|   ABE|        ATL|
|1020600|   -8|     369|   ABE|        DTW|
|1021245|   -2|     602|   ABE|        ATL|
|1020605|   -4|     602|   ABE|        ATL|
|1031245|   -4|     602|   ABE|        ATL|
+-------+-----+--------+------+-----------+

In [21]:
#Get a list of all Origin and Destination airports
lti_spark.sql("select distinct origin,Destination from flys").show()

+------+-----------+
|origin|Destination|
+------+-----------+
|   ATL|        GSP|
|   BQN|        MCO|
|   CLE|        SJU|
|   DSM|        EWR|
|   EWR|        STT|
|   FSD|        ATL|
|   LAS|        LIT|
|   LBB|        DEN|
|   MCI|        IAH|
|   MCI|        MKE|
|   MDW|        MEM|
|   ORD|        PDX|
|   PBI|        DCA|
|   PHL|        MCO|
|   ROC|        CLE|
|   SJC|        LIH|
|   SMF|        BUR|
|   SNA|        PHX|
|   HRL|        BRO|
|   AUS|        ELP|
+------+-----------+
only showing top 20 rows

In [20]:
#Find the top 5 longest distance travel routes
lti_spark.sql("select * from flys order by distance desc limit 5").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|3011625|   -1|    4330|   HNL|        JFK|
|1011625|   -4|    4330|   HNL|        JFK|
|3071625|   -1|    4330|   HNL|        JFK|
|1051625|   18|    4330|   HNL|        JFK|
|3021625|   14|    4330|   HNL|        JFK|
+-------+-----+--------+------+-----------+

In [ ]:
df.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [22]:
#Find top 3 origin airport with maximum flight delay occurances
lti_spark.sql("select origin,count(*)  from flys group by origin order by count(*) desc limit 3").show()

+------+--------+
|origin|count(1)|
+------+--------+
|   ATL|   91484|
|   DFW|   68482|
|   ORD|   64228|
+------+--------+

In [24]:
#Find top 3 destination airport with maximum flight delay occurances
lti_spark.sql("select Destination,count(*) from flys group by Destination order by count(*) desc limit 3").show()

+-----------+--------+
|Destination|count(1)|
+-----------+--------+
|        ATL|   90434|
|        DFW|   66050|
|        ORD|   61967|
+-----------+--------+

In [27]:
#Find the route with maximum delay occurances
lti_spark.sql("select origin, Destination, count(*) from flys group by origin,Destination order by count(*) desc limit 1").show()
#lti

+------+-----------+--------+
|origin|Destination|count(1)|
+------+-----------+--------+
|   SFO|        LAX|    3232|
+------+-----------+--------+

In [30]:
#Find the top three routes with maximum time-delay
lti_spark.sql("select * from flys order by delay desc limit 3").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|3090615| 1642|     807|   TPA|        DFW|
|2190925| 1638|    1604|   SFO|        ORD|
|2021245| 1636|     972|   FLL|        DFW|
+-------+-----+--------+------+-----------+

In [29]:
#Find the distance for top three max time-delay routes
lti_spark.sql("select * from flys where delay >0 order by delay desc limit 3").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|3090615| 1642|     807|   TPA|        DFW|
|2190925| 1638|    1604|   SFO|        ORD|
|2021245| 1636|     972|   FLL|        DFW|
+-------+-----+--------+------+-----------+